# Application
web/app/*
web/app/languages
!web/app/languages/loco
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Theme
web/app/themes/*
!web/app/themes/dev

# Dotenv
.env
!.env.example

# htaccess
.htaccess
!.htaccess.example

# Composer
/vendor

# Misc
.DS_Store
.vscode
*.log
/dist
node_modules

# Local by Flywheel
/sql
